<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVFoundationPlayRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76AB2D9D1C9C59BC007704B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76AB2DB61C9C59BD007704B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76AB2DC11C9C59BD007704B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
